@model IEnumerable<Ownorent.Models.Cart>
@using Ownorent.Models
@using System.Globalization
@{
    ViewBag.Title = "Cart";
    ViewBag.bgColor = "#f8fafc";
    List<CartValidateModel> cartValidationItems = (List<CartValidateModel>)ViewBag.cartValidationItems;
    List<RentToOwnPaymentTerm> rentToOwnPaymentTerms = (List<RentToOwnPaymentTerm>)ViewBag.rentToOwnPaymentTerms;

    int cartIndex = 0;
    float buyTotal = 0f;
    float rentTotal = 0f;
    float rentRequiredPayment = 0f;
    float rentOwnTotal = 0f;
    float rentOwnRequiredPayment = 0f;
}

@if (cartValidationItems.Any(c => c.Error))
{
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="ownorent-alert alert alert-danger">
                Some items in your cart <strong>exceed the Available Quantity</strong>;
                <ul>
                    @foreach (var item in cartValidationItems.Where(c=>c.Error))
                    {
                        <li><strong>@item.ProductName</strong> - @item.Message</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-9">
        <div class="ownorent-panel ownorent-panel-white marginTop15">

            @if (Model.Count() == 0)
            {
                <div class="ownorent-panel-body">
                    <center>
                        <br />
                        <h4>There are no items in your cart.</h4>
                        <h4>Check our items @Html.ActionLink("here", "p").</h4>
                        <br />
                    </center>
                </div>
            }
            else
            {
                using (Html.BeginForm("Cart", "Products", FormMethod.Post, new { @id="cart", @class = "", role = "form" }))
                {
                    if (Model.Any(c => c.CartType == CartTypeConstant.BUY))
                    {
                        <div class="ownorent-panel-body ownorent-panel-table">
                            <table class="table table-buy no-border-top table-condensed table-hover ownorent-compact-table">
                                <thead>
                                    <tr>
                                        <th colspan="5">
                                            ORDER TYPE: BUY
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            NAME
                                        </th>
                                        <th style="text-align:right;">
                                            PRICE
                                        </th>
                                        <th style="text-align:right;">
                                            QTY
                                        </th>
                                        <th style="text-align:right;">
                                            SUBTOTAL
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    @foreach (var item in Model.Where(c => c.CartType == CartTypeConstant.BUY))
                                    {
                                        <tr>
                                            <td>
                                                @item.Product.ProductName
                                            </td>
                                            <td class="table-options-90">
                                                @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                {
                                                    <text>@item.Product.Price.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                                }
                                                else
                                                {
                                                    if (item.Product.ComputedPrice != null)
                                                    {
                                                        <text>@item.Product.ComputedPrice.Value.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                                    }
                                                    else
                                                    {
                                                        <text>@item.Product.Price.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                                    }
                                                }
                                            </td>
                                            <td class="table-options-70">
                                                <input name="cartItems[@cartIndex].CartId" value="@item.CartId" type="hidden" />
                                                <input name="cartItems[@cartIndex].Quantity" value="@item.Quantity" class="form-control table-inline-input" type="number" step="1" min="0" />
                                            </td>
                                            <td class="table-options-90">
                                                @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                {
                                                    buyTotal += (item.Product.Price * item.Quantity);

                                                    <text>
                                                        @((item.Product.Price * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                    </text>
                                                }
                                                else
                                                {
                                                    if (item.Product.ComputedPrice != null)
                                                    {
                                                        buyTotal += (item.Product.ComputedPrice.Value * item.Quantity);

                                                        <text>
                                                            @((item.Product.ComputedPrice.Value * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                        </text>
                                                    }
                                                    else
                                                    {
                                                        buyTotal += (item.Product.Price * item.Quantity);

                                                        <text>
                                                            @((item.Product.Price * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                        </text>
                                                    }
                                                }
                                            </td>
                                            <td class="table-options-70">
                                                @Html.ActionLink("Remove", "RemoveFromCart", new { id = item.CartId }, new { @class = "btn btn-xs btn-danger" })
                                            </td>
                                        </tr>

                                        cartIndex++;
                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right;">
                                            Total:
                                        </td>
                                        <td style="text-align:right;">
                                            @buyTotal.ToString("C2",CultureInfo.GetCultureInfo("fil-PH"))
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }

                    if (Model.Any(c => c.CartType == CartTypeConstant.RENT))
                    {
                        <div class="ownorent-panel-body ownorent-panel-table">
                            <table class="table no-border-top table-rent table-condensed table-hover ownorent-compact-table">
                                <thead>
                                    <tr>
                                        <th colspan="7">
                                            ORDER TYPE: RENT
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            NAME
                                        </th>
                                        <th>
                                            START
                                        </th>
                                        <th>
                                            END
                                        </th>
                                        <th>
                                            PRICE
                                        </th>
                                        <th style="text-align:right;">
                                            QTY
                                        </th>
                                        <th style="text-align:right;">
                                            SUBTOTAL
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Where(c => c.CartType == CartTypeConstant.RENT))
                                    {
                                        <tr>
                                            <td>
                                                @item.Product.ProductName
                                            </td>
                                            <td>
                                                <input name="cartItems[@cartIndex].RentDateStart" data-value="@item.RentDateStart.Value.ToString("yyyy-MM-dd")" class="form-control table-inline-input-date" type="date"  min="@DateTime.UtcNow.AddHours(8).AddDays(2).ToString("yyyy-MM-dd")" />
                                            </td>
                                            <td>
                                                <input name="cartItems[@cartIndex].RentDateEnd" data-value="@item.RentDateEnd.Value.ToString("yyyy-MM-dd")" class="form-control table-inline-input-date" type="date" min="@DateTime.UtcNow.AddHours(8).AddDays(2).ToString("yyyy-MM-dd")" />
                                            </td>
                                            <td>
                                                @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                {
                                                    if (item.Product.DailyRentPrice != null)
                                                    {
                                                        <text>@item.Product.DailyRentPrice.Value.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                                    }
                                                    else
                                                    {
                                                        if (item.Product.ComputedDailyRentPrice != null)
                                                        {
                                                            <text>@item.Product.ComputedDailyRentPrice.Value.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                                        }
                                                        else
                                                        {
                                                            <text>@((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.Product.ComputedDailyRentPrice != null)
                                                    {
                                                        <text>@item.Product.ComputedDailyRentPrice.Value.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                                    }
                                                    else
                                                    {
                                                        <text>@((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                    }
                                                }
                                            </td>
                                            <td class="table-options-70">
                                                <input name="cartItems[@cartIndex].CartId" value="@item.CartId" type="hidden" />
                                                <input name="cartItems[@cartIndex].Quantity" value="@item.Quantity" class="form-control table-inline-input" type="number" step="1" min="0" />
                                            </td>
                                            <td class="table-options-90">
                                                @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                {
                                                    if (item.Product.DailyRentPrice != null)
                                                    {
                                                        rentTotal += (item.Product.DailyRentPrice.Value * item.Quantity * item.RentNumberOfDays.Value);

                                                        @*
                                                            <text>
                                                                @((item.Product.DailyRentPrice.Value * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                            </text>
                                                        *@
                                                    }
                                                    else
                                                    {
                                                        if (item.Product.ComputedDailyRentPrice != null)
                                                        {
                                                            rentTotal += (item.Product.ComputedDailyRentPrice.Value * item.Quantity * item.RentNumberOfDays.Value);

                                                            @*
                                                                <text>
                                                                    @((item.Product.ComputedDailyRentPrice.Value * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                                </text>
                                                            *@
                                                        }
                                                        else
                                                        {
                                                            @*
                                                                <text>
                                                                    @((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                                </text>
                                                            *@
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.Product.ComputedDailyRentPrice != null)
                                                    {
                                                        rentTotal += (item.Product.ComputedDailyRentPrice.Value * item.Quantity * item.RentNumberOfDays.Value);

                                                        @*
                                                            <text>
                                                                @((item.Product.ComputedDailyRentPrice.Value * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                            </text>
                                                        *@
                                                        
                                                    }
                                                    else
                                                    {
                                                        @*
                                                            <text>
                                                                @((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                            </text>
                                                        *@
                                                    }
                                                }

                                                -
                                            </td>
                                            <td class="table-options-70">
                                                @Html.ActionLink("Remove", "RemoveFromCart", new { id = item.CartId }, new { @class = "btn btn-xs btn-danger" })
                                            </td>
                                        </tr>

                                        if (item.RentNumberOfDays > 30)
                                        {
                                            int breakdown = 1;

                                            for(int rentNumberOfDays = item.RentNumberOfDays.Value; rentNumberOfDays > 0; rentNumberOfDays -= 30)
                                            {
                                                if (rentNumberOfDays < 30)
                                                {
                                                    <tr>
                                                        <td class="ownorent-text-silver">@rentNumberOfDays day/s Rent</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="ownorent-text-silver">Payment @breakdown</td>
                                                        <td class="ownorent-text-silver" style="text-align:right;">
                                                            @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                            {
                                                                if (item.Product.DailyRentPrice != null)
                                                                {
                                                                    <text>@((item.Product.DailyRentPrice.Value * rentNumberOfDays * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                }
                                                                else
                                                                {
                                                                    if (item.Product.ComputedDailyRentPrice != null)
                                                                    {
                                                                        <text>@((item.Product.ComputedDailyRentPrice.Value * rentNumberOfDays * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                    }
                                                                    else
                                                                    {
                                                                        <text>@((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (item.Product.ComputedDailyRentPrice != null)
                                                                {
                                                                    <text>@((item.Product.ComputedDailyRentPrice.Value * rentNumberOfDays * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                }
                                                                else
                                                                {
                                                                    <text>@((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                }
                                                            }
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td class="ownorent-text-silver">30 day/s Rent</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="ownorent-text-silver">Payment @breakdown</td>
                                                        <td class="ownorent-text-silver" style="text-align:right;">
                                                            @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                            {
                                                                if (item.Product.DailyRentPrice != null)
                                                                {
                                                                    if (breakdown == 1)
                                                                    {
                                                                        rentRequiredPayment += (item.Product.DailyRentPrice.Value * 30 * item.Quantity);
                                                                    }
                                                                    
                                                                    <text>@((item.Product.DailyRentPrice.Value * 30 * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                }
                                                                else
                                                                {
                                                                    if (item.Product.ComputedDailyRentPrice != null)
                                                                    {
                                                                        if (breakdown == 1)
                                                                        {
                                                                            rentRequiredPayment += (item.Product.ComputedDailyRentPrice.Value * 30 * item.Quantity);
                                                                        }

                                                                        <text>@((item.Product.ComputedDailyRentPrice.Value * 30 * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                    }
                                                                    else
                                                                    {
                                                                        <text>@((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (item.Product.ComputedDailyRentPrice != null)
                                                                {
                                                                    if (breakdown == 1)
                                                                    {
                                                                        rentRequiredPayment += (item.Product.ComputedDailyRentPrice.Value * 30 * item.Quantity);
                                                                    }

                                                                    <text>@((item.Product.ComputedDailyRentPrice.Value * 30 * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                }
                                                                else
                                                                {
                                                                    <text>@((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                                }
                                                            }
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                                
                                                breakdown++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="ownorent-text-silver">@item.RentNumberOfDays day/s Rent</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="ownorent-text-silver">Payment 1</td>
                                                <td class="ownorent-text-silver" style="text-align:right;">
                                                    @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                    {
                                                        if (item.Product.DailyRentPrice != null)
                                                        {
                                                            rentRequiredPayment = (item.Product.DailyRentPrice.Value * item.RentNumberOfDays.Value * item.Quantity);

                                                            <text>@((item.Product.DailyRentPrice.Value * item.RentNumberOfDays.Value * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                        }
                                                        else
                                                        {
                                                            if (item.Product.ComputedDailyRentPrice != null)
                                                            {
                                                                rentRequiredPayment = (item.Product.ComputedDailyRentPrice.Value * item.RentNumberOfDays.Value * item.Quantity);

                                                                <text>@((item.Product.ComputedDailyRentPrice.Value * item.RentNumberOfDays.Value * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                            }
                                                            else
                                                            {
                                                                <text>@((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (item.Product.ComputedDailyRentPrice != null)
                                                        {
                                                            rentRequiredPayment = (item.Product.ComputedDailyRentPrice.Value * item.RentNumberOfDays.Value * item.Quantity);

                                                            <text>@((item.Product.ComputedDailyRentPrice.Value * item.RentNumberOfDays.Value * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                        }
                                                        else
                                                        {
                                                            <text>@((0).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))</text>
                                                        }
                                                    }
                                                </td>
                                                <td></td>
                                            </tr>
                                        }

                                        cartIndex++;
                                    }

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right;">
                                            Total:
                                        </td>
                                        <td style="text-align:right;">
                                            @rentTotal.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right;">
                                            Required:
                                        </td>
                                        <td style="text-align:right;">
                                            @rentRequiredPayment.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }

                    if (Model.Any(c => c.CartType == CartTypeConstant.RENT_TO_OWN))
                    {
                        <div class="ownorent-panel-body ownorent-panel-table">
                            <table class="table no-border-top table-rent-to-own table-condensed table-hover ownorent-compact-table">
                                <thead>
                                    <tr>
                                        <th colspan="5">
                                            ORDER TYPE: RENT-TO-OWN
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            NAME
                                        </th>
                                        <th style="text-align:right;">
                                            PAYMENT TERM
                                        </th>
                                        <th style="text-align:right;">
                                            PRICE
                                        </th>
                                        <th style="text-align:right;">
                                            QTY
                                        </th>
                                        <th style="text-align:right;">
                                            SUBTOTAL
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Where(c => c.CartType == CartTypeConstant.RENT_TO_OWN))
                                    {
                                        <tr>
                                            <td>
                                                @item.Product.ProductName
                                            </td>
                                            <td style="text-align:right;">
                                                <select style="width:145px !important;" data-value="@item.RentToOwnPaymentTermId" name="cartItems[@cartIndex].RentToOwnPaymentTermId" class="form-control table-inline-input-date">
                                                    @foreach (var rto in rentToOwnPaymentTerms)
                                                    {
                                                        if (item.RentToOwnPaymentTermId == rto.RentToOwnPaymentTermId)
                                                        {
                                                            <option value="@rto.RentToOwnPaymentTermId">@rto.Months months - @rto.InterestRate.ToString("F2")%</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@rto.RentToOwnPaymentTermId">@rto.Months months - @rto.InterestRate.ToString("F2")%</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td class="table-options-90">
                                                @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                {
                                                    <text>@item.Product.Price.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                                }
                                                else
                                                {
                                                    if (item.Product.ComputedPrice != null)
                                                    {
                                                        <text>@item.Product.ComputedPrice.Value.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                                    }
                                                    else
                                                    {
                                                        <text>@item.Product.Price.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                                    }
                                                }
                                            </td>
                                            <td class="table-options-70">
                                                <input name="cartItems[@cartIndex].CartId" value="@item.CartId" type="hidden" />
                                                <input name="cartItems[@cartIndex].Quantity" value="@item.Quantity" class="form-control table-inline-input" type="number" step="1" min="0" />
                                            </td>
                                            <td class="table-options-90">
                                                @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                {
                                                    rentOwnTotal += ((item.Product.Price + (item.Product.Price * (item.PaymentTerm.InterestRate / 100))) * item.Quantity);

                                                    /*
                                                    <text>
                                                        @(((item.Product.Price + (item.Product.Price * (item.PaymentTerm.InterestRate / 100))) * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                    </text>
                                                    */
                                                }
                                                else
                                                {
                                                    if (item.Product.ComputedPrice != null)
                                                    {
                                                        rentOwnTotal += ((item.Product.ComputedPrice.Value + (item.Product.ComputedPrice.Value * (item.PaymentTerm.InterestRate / 100))) * item.Quantity);

                                                        /*
                                                        <text>
                                                            @(((item.Product.ComputedPrice.Value + (item.Product.ComputedPrice.Value * (item.PaymentTerm.InterestRate / 100))) * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                        </text>
                                                        */
                                                    }
                                                    else
                                                    {
                                                        rentOwnTotal += ((item.Product.Price + (item.Product.Price * (item.PaymentTerm.InterestRate / 100))) * item.Quantity);

                                                        /*
                                                        <text>
                                                            @(((item.Product.Price + (item.Product.Price * (item.PaymentTerm.InterestRate/100))) * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                        </text>
                                                        */
                                                    }
                                                }

                                                -
                                            </td>
                                            <td class="table-options-70">
                                                @Html.ActionLink("Remove", "RemoveFromCart", new { id = item.CartId }, new { @class = "btn btn-xs btn-danger" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ownorent-text-silver">Ammortization</td>
                                            <td></td>
                                            <td></td>
                                            <td class="ownorent-text-silver"></td>
                                            <td class="ownorent-text-silver table-options-90" style="text-align:right;">
                                                @if (item.Product.ProductPriceToUse == ProductPriceToUseConstant.SELLER_DEFINED_PRICE)
                                                {
                                                    rentOwnRequiredPayment += (((item.Product.Price + (item.Product.Price * (item.PaymentTerm.InterestRate / 100))) / item.PaymentTerm.Months) * item.Quantity);

                                                    <text>
                                                        @((((item.Product.Price + (item.Product.Price * (item.PaymentTerm.InterestRate / 100))) / item.PaymentTerm.Months) * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                    </text>
                                                }
                                                else
                                                {
                                                    if (item.Product.ComputedPrice != null)
                                                    {
                                                        rentOwnRequiredPayment += (((item.Product.ComputedPrice.Value + (item.Product.ComputedPrice.Value * (item.PaymentTerm.InterestRate / 100))) / item.PaymentTerm.Months) * item.Quantity);

                                                        <text>
                                                            @((((item.Product.ComputedPrice.Value + (item.Product.ComputedPrice.Value * (item.PaymentTerm.InterestRate / 100))) / item.PaymentTerm.Months) * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                        </text>
                                                    }
                                                    else
                                                    {
                                                        rentOwnRequiredPayment += (((item.Product.Price + (item.Product.Price * (item.PaymentTerm.InterestRate / 100))) / item.PaymentTerm.Months) * item.Quantity);

                                                        <text>
                                                            @((((item.Product.Price + (item.Product.Price * (item.PaymentTerm.InterestRate / 100))) / item.PaymentTerm.Months) * item.Quantity).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                                                        </text>
                                                    }
                                                }

                                                x @item.PaymentTerm.Months
                                            </td>
                                            <td></td>
                                        </tr>
                                        cartIndex++;
                                    }

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right;">
                                            Total:
                                        </td>
                                        <td class="table-options-90" style="text-align:right;">
                                            @rentOwnTotal.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right;">
                                            Required:
                                        </td>
                                        <td class="table-options-90" style="text-align:right;">
                                            @rentOwnRequiredPayment.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    }
                }
            }


            @*
                <div class="ownorent-panel-header" style="background-color:#71cd14; color:white;">

                </div>
            *@
        </div>
    </div>

    <div class="col-md-3">
        <div class="ownorent-panel ownorent-panel-white marginTop15">
            <div class="ownorent-panel-header" style="background-color:#71cd14; color:white;">

            </div>

            <div class="ownorent-panel-body ownorent-panel-tools">
                @Html.ActionLink("Update Cart", "p", new { }, new { @class = "update-cart btn btn-xs btn-info" })

                <hr style="margin-top:4px; margin-bottom:4px;"/>
                
                <p style="margin-bottom:10px; font-size:0.7em;">
                    Total:
                    <span class="ownorent-text-silver" style="float:right;">
                        @((buyTotal + rentTotal + rentOwnTotal).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                    </span>
                </p>

                <p style="margin-bottom:10px; font-size:0.9em;">
                    Pay on Checkout:
                    <span class="ownorent-text-ygreen" style="float:right;">
                        @((buyTotal + rentRequiredPayment + rentOwnRequiredPayment).ToString("C2", CultureInfo.GetCultureInfo("fil-PH")))
                    </span>
                </p>

                @if (cartValidationItems.Any(c => c.Error))
                {
                    <p class="ownorent-text-red" style="font-size:0.9em; margin-bottom:10px;">Please resolve issues<br /> prior to Checkout.</p>
                    <img style="width:200px; margin-bottom:10px;" src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/Full_Online_Tray_RGB.png" />
                    @Html.ActionLink("Checkout", "Checkout", new { }, new { @class = "btn btn-md btn-block btn-warning", @disabled = "true" })
                }
                else
                {
                    <img style="width:100%; margin-bottom:10px;" src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/Full_Online_Tray_RGB.png" />
                    @Html.ActionLink("Checkout", "Checkout", new { }, new { @class = "btn btn-md btn-block btn-info ownorent-bg-paypal-blue", @style= "letter-spacing:0.9px; font-size:1.1em; font-style:italic; font-weight:600;" })
                }

                @Html.ActionLink("< Continue Shopping", "p", new { }, new { @class = "btn btn-xs btn-block btn-default" })
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".table-inline-input-date").each(function () {
                $(this).val($(this).data("value"));
            })

            $(".update-cart").click(function (e) {
                e.preventDefault();
                $("#cart").submit();
            })

            var buy = $(".table-buy").DataTable({
                paging: true,
                "pageLength": 10,
                "dom": "<'table-window'<'table-responsive'rt>>",
                "ordering": false
            });

            var rent = $(".table-rent").DataTable({
                paging: true,
                "pageLength": 10,
                "dom": "<'table-window'<'table-responsive'rt>>",
                "ordering": false
            });

            var rentToOwn = $(".table-rent-to-own").DataTable({
                paging: true,
                "pageLength": 10,
                "dom": "<'table-window'<'table-responsive'rt>>",
                "ordering": false
            });

            $(".all-search").keyup(function () {
                datatable.search($(this).val()).draw();
            })
        });
    </script>
}