@model IEnumerable<Ownorent.Models.ProductTemplate>
@using Ownorent.Models
@using System.Globalization
@{
    ViewBag.Title = "Products";
    ViewBag.bgColor = "#f8fafc";
}

@if (ViewBag.Error != null)
{
    if (ViewBag.Error == "1")
    {
        <div class="row">
            <div class="col-md-12">
                <br />
                <div class="ownorent-alert alert alert-danger">
                    @Html.Raw(ViewBag.Message)
                </div>
            </div>
        </div>
    }
}
else if (ViewBag.Message != null)
{
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="ownorent-alert alert alert-success">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="ownorent-panel ownorent-panel-white marginTop15">
            <div class="ownorent-panel-header" style="background-color:#71cd14; color:white;">

            </div>

            <div class="ownorent-panel-body ownorent-panel-tools">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            PRODUCTS

                            @*
                                @Html.ActionLink("Add Product", "Create", "Products", new { }, new { @class = "btn btn-xs btn-info" })
                            *@
                        </p>
                    </div>
                    <div class="col-md-3 col-md-offset-5">
                        <input class="form-control all-search width100" placeholder="Search ..." />
                    </div>
                </div>
            </div>
        </div>

        <div class="ownorent-panel ownorent-panel-white marginTop10">
            <div class="ownorent-panel-header" style="background-color:#71cd14; color:white;">

            </div>

            <div class="ownorent-panel-body ownorent-panel-table">
                <table class="table table-condensed table-hover ownorent-compact-table">
                    <thead>
                        <tr>
                            <th>
                                CATEGORY
                            </th>
                            <th>
                                NAME
                            </th>
                            <th>
                                STATUS
                            </th>
                            <th>
                                QTY
                            </th>
                            <th>
                                PRICE
                            </th>
                            <th>
                                DAILY RENT
                            </th>
                            <th>
                                CREATED
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Category.CategoryName
                                </td>
                                <td>
                                    @item.ProductName
                                </td>
                                <td>
                                    @switch (item.ProductTemplateStatus)
                                    {
                                        case ProductTemplateStatusConstant.APPROVED:
                                            <span class="ownorent-text-ygreen">Approved</span>
                                            break;
                                        case ProductTemplateStatusConstant.PENDING_REVIEW:
                                            <span class="ownorent-text-orange">Pending Review</span>
                                            break;
                                        case ProductTemplateStatusConstant.PENDING_WAREHOUSE_ARRIVAL:
                                            <span class="ownorent-text-orange">Pending Warehouse Arrival</span>
                                            break;
                                        case ProductTemplateStatusConstant.REJECTED_REVISE:
                                            <span class="ownorent-text-red">Rejected - Revise</span>
                                            break;
                                        case ProductTemplateStatusConstant.REJECTED_NOT_ALLOWED:
                                            <span class="ownorent-text-red">Rejected - Not Allowed</span>
                                            break;
                                        case ProductTemplateStatusConstant.REQUESTED_REMOVAL:
                                            <span class="ownorent-text-gray">User Requested Removal</span>
                                            break;
                                        case ProductTemplateStatusConstant.REMOVED:
                                            <span class="ownorent-text-silver">Removed</span>
                                            break;
                                    }
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.Price.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))
                                </td>
                                <td>
                                    @if (item.DailyRentPrice != null)
                                    {
                                        <text>@item.DailyRentPrice.Value.ToString("C2", CultureInfo.GetCultureInfo("fil-PH"))</text>
                                    }
                                </td>
                                <td>
                                    @item.DateCreated.ToString("MM-dd-yyyy")
                                </td>
                                <td style="text-align:right;">
                                    <div class="dropdown ownorent-dropdown-button">
                                        <button class="btn btn-xs btn-default ownorent-dropdown-button dropdown-toggle" type="button" data-toggle="dropdown">
                                            Options
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu ownorent-dropdown-menu ownorent-dropdown-menu-right">
                                            <li>@Html.ActionLink("Edit", "EditProduct", new { id = item.ProductTemplateId })</li>
                                            <li>@Html.ActionLink("Images", "Images", new { id = item.ProductTemplateId })</li>
                                        </ul>
                                    </div>

                                    @if (item.ProductTemplateStatus == ProductTemplateStatusConstant.PENDING_WAREHOUSE_ARRIVAL)
                                    {
                                        @Html.ActionLink("Confirm Arrival", "ConfirmArrival", new { id = item.ProductTemplateId }, new { @class = "btn btn-xs btn-info" })
                                    }

                                    @if (item.ProductTemplateStatus == ProductTemplateStatusConstant.REJECTED_REVISE)
                                    {
                                        @Html.ActionLink("Approve", "Approve", new { id = item.ProductTemplateId }, new { @class = "btn btn-xs btn-success" })
                                    }

                                    @if (item.ProductTemplateStatus == ProductTemplateStatusConstant.APPROVED)
                                    {
                                        @Html.ActionLink("Revert to Review", "RevertToReview", new { id = item.ProductTemplateId }, new { @class = "btn btn-xs btn-warning" })
                                    }

                                    @if (item.ProductTemplateStatus == ProductTemplateStatusConstant.PENDING_REVIEW)
                                    {
                                        @Html.ActionLink("Approve", "Approve", new { id = item.ProductTemplateId }, new { @class = "btn btn-xs btn-success" })

                                        <div class="dropdown ownorent-dropdown-button">
                                            <button class="btn btn-xs btn-danger ownorent-dropdown-button dropdown-toggle" type="button" data-toggle="dropdown">
                                                Reject
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu ownorent-dropdown-menu ownorent-dropdown-menu-right">
                                                <li>@Html.ActionLink("Reject - Revise", "RejectRevise", new { id = item.ProductTemplateId })</li>
                                                <li>@Html.ActionLink("Reject - Not Allowed", "RejectNotAllowed", new { id = item.ProductTemplateId })</li>
                                            </ul>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var datatable = $("table").DataTable({
                paging: true,
                "pageLength": 10,
                "dom": "<'table-window'<'table-responsive'rt>><'window-footer'<'col-md-6'i><'col-md-6'p>>",
                "columnDefs": [
                    { "orderable": false, "targets": 7 }
                ]
            });

            $(".all-search").keyup(function () {
                datatable.search($(this).val()).draw();
            })
        });
    </script>
}