@model Ownorent.Models.RegisterViewModel
@using Ownorent.Models
@{
    ViewBag.Title = "Register";
    ViewBag.bgColor = "#f8fafc";
}

@if (ViewBag.Message != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="account-card">
            
            <div class="account-header">
                Ownorent Registration
            </div>

            <center>
                <img src="~/Content/Images/logo.png" style="width:300px; transform:translate(0px)" />
            </center>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.AccountType, new { @class = "control-label" })
                        @Html.DropDownListFor(
                            m => m.Email,
                            new List<SelectListItem>() {
                                new SelectListItem { Text = "Customer", Value = AccountTypeConstant.CUSTOMER.ToString() },
                                new SelectListItem { Text = "Seller", Value = AccountTypeConstant.SELLER.ToString() }
                            },
                            new { @class = "form-control" }
                        )
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
